<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Archetype Created Web Application</display-name>


  <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/com/zhou/forestProject/dao/IAreaMapper.xml,/com/zhou/forestProject/dao/IClassMapper.xml,/com/zhou/forestProject/dao/IEventMapper.xml,/com/zhou/forestProject/dao/ITypeMapper.xml</param-value>
    </context-param>
    <!--过滤器-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.zhou.forestProject.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.lovo</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>areaServlet</servlet-name>
        <servlet-class>com.zhou.forestProject.servlet.AreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>typeServlet</servlet-name>
        <servlet-class>com.zhou.forestProject.servlet.TypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAreaServlet</servlet-name>
        <servlet-class>com.zhou.forestProject.servlet.AddAreaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAreaServlet</servlet-name>
        <url-pattern>/addArea.lovo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>typeServlet</servlet-name>
        <url-pattern>/type.lovo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>areaServlet</servlet-name>
        <url-pattern>/area.lovo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
</web-app>
